body{
    font-family:'roboto', sans-serif;
    background-color: grey;
}
.sign-up{
    height: 620px;
    width: 360px;
    margin: auto;
    background-color: white;
    border-radius: 3px;
}
.log{
    width: 360px ;
    height: 280px;
    margin: auto;
    background-color: white;
    border-radius: 3px;
}
h1{
    text-align: center;
    padding-top: 15px;

}
 p{
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
}
form{
    width: 300px;
    margin-left: 20px;
}
form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;

}
form input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}
input[type="button"]{
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: indigo;
    color: white;
    font-size: 20px;
}
.para >p{
    text-align: center;
    color: white;
    font-size: 15px;
    margin-top: -20px;
}
.para a{
    color: indigo;
}

.footer{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
  }
  .ftext {
      font-weight: bold;
      font-size: 24px;
      margin-left: -60px;
  }
  .socialmedia p{
    font-weight: bold;
    font-size: 24px;